body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    font-family: 'Poppins',Arial, Helvetica, sans-serif;
}
.logos{
    margin-right: 10px;
}
.bold{
    font-size: 25px;
    font-weight: bold;
}

li{
    padding: 5px;
}
.nav-link{
    font-size: 15px;
    font-weight: bold;
    border: 2px solid transparent;
}
.nav-link:hover{
    border-bottom: 2px solid #525151;
    transition: .1s;
}
section{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-justify{
    text-align: justify;
}
.description{
    line-height: 30px;
    font-size: 18px;
}
#navBar{
    position: sticky;
    top:0;
    background: white;
    z-index: 10;
}
.card > img{
    height: 500px;
}

form{
    padding: 40px;
    box-shadow: 0px 0px 8px rgb(224, 224, 224);
    border-radius: 8px;
}
footer{
    background-color: rgb(255, 255, 255);
    padding: 15px;
    cursor: pointer;
}